.searchbox {
    line-height: 1;
}
.input {
    border: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}

.inputWrapper {
    :global {
        .ant-input-affix-wrapper {
            background: transparent;
            padding: 0;
        }
        .ant-input-outlined {
            border: 0;
            outline: none;
            box-shadow: none;
        }
    }
}