.docsearch--active {
  overflow: hidden !important;
}

.docsearch-modal-container,
.docsearch-modal-container * {
  box-sizing: border-box;
}

.docsearch-modal-container {
  background-color: var(--docsearch-modal-container-background);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 200;
  display: flex;
  justify-content: center;
}

.docsearch-modal {
  display: inline-block;
  margin: 60px auto auto;
}

.docsearch-modal > div {
  border-radius: 12px;
  overflow: hidden;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


@media (max-width: 768px) {
  :root {
    --docsearch-spacing: 10px;
    --docsearch-footer-height: 40px;
  }

  .docsearch-modal-container {
    height: 100vh;
    height: -webkit-fill-available;
    height: calc(var(--docsearch-vh, 1vh) * 100);
    position: absolute;
  }

  .docsearch-modal {
    border-radius: 0;
    box-shadow: none;
    height: 100vh;
    height: -webkit-fill-available;
    height: calc(var(--docsearch-vh, 1vh) * 100);
    margin: 0;
    max-width: 100%;
    width: 100%;
  }

}

[hidden] {
  visibility: hidden;
}
