.categories {
    padding: 0;

    :global {
        .ant-tabs-nav {
            margin-bottom: 0;
        }
        .ant-tabs-tab {
            padding-left: 2px;
            padding-right: 2px;
            font-size: 14px;
        }
        .ant-tabs-tab+.ant-tabs-tab {
            margin-left: 32px;
        }

        .ant-tabs-nav::before {
            border: 0;
        }
    }
}